.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}
.item-menu {
  color: red;
  height: 40;
  width: 40;
}
.name{
  color: black;
}
.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
